<div class="row overflow-auto" >
  <div class="col-12">
    <div class="card w-100 h-100 bg-light shadow-lg border-2">
      <div class="card-header">
        <div class="text-center text-blue font-weight-800 text-lg">
          <h4>Enrolados</h4>
        </div>
      </div>
      <div class="card-body px-lg-5 py-lg-3">
        <form role="form">

          <div class="row">
            <div class="col-12">
              <div class="form-group mb-3">
                <label class="text-primary mt-2">Participante</label>
                <div class="input-group input-group-alternative shadow border border-primary">
                  <input class="form-control" placeholder=" Nombres" type="text" #nombresInput="ngModel"
                    type="text" name="nombres" ngModel [(ngModel)]="participante.nombreCompleto" disabled="true">
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class=" mat-elevation-z8 overflow-auto">
            <table class="table align-items-center table-flush" mat-table [dataSource]="dataSource">

              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Concepto </th>
                <td class="font-weight-bold" mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
              </ng-container>

              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha de registro</th>
                <td mat-cell *matCellDef="let element"> {{element.fechaAlta | date: 'yyyy-MM-dd'}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator class="overflow-auto" [ngStyle]="{'display': listaParticipantes.length > 6 ? '' : 'none'}" pageSize="6"  showFirstLastButtons></mat-paginator>
          </div>

          <div class="row mt-3">
            <div class="text-center mr-1">
              <button type="button" class="btn btn-primary my-2" (click)="cerrar()">Cerrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
