<div class="row pb-4">
    <div class="col-12">
        <div class="card w-100 h-100 bg-light shadow-lg border-2 pb-4">
            <div class="card-header">
                <div class="text-center text-blue font-weight-800 text-lg">
                    <h4>Evento</h4>
                </div>
            </div>
            <div class="card-body px-lg-3 py-lg-1">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3 ">
                        <div class="form-group mb-3">
                            <label class="text-primary mt-2">Descripcion</label>
                            <div class="input-group input-group-alternative shadow border border-primary">
                                <input class="form-control" placeholder=" Descripcion" type="text"
                                    #descripcionInput="ngModel" type="text" name="descripcion" ngModel [disabled]="true"
                                    [(ngModel)]="evento.tipoEvento.descripcion" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 ">
                        <div class="form-group mb-3">
                            <label class="text-primary mt-2">Generacion</label>
                            <div class="input-group input-group-alternative shadow border border-primary">
                                <input class="form-control" placeholder=" Generacion" type="number"
                                    #generacionInput="ngModel" name="generacion" [disabled]="true" ngModel [(ngModel)]="evento.generacion"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 ">
                        <div class="form-group mb-3">
                            <label class="text-primary mt-2">Fecha Inicial</label>
                            <div class="input-group input-group-alternative shadow border border-primary ">
                                <input class="form-control" placeholder=" dd/MM/yyyy" type="text"
                                    #fechaInicialInput="ngModel" type="text" [disabled]="true" name="fechaInicial"
                                    ngModel [(ngModel)]="fromText" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 ">
                        <div class="form-group">
                            <label class="text-primary mt-2">Fecha Final</label>
                            <div class="input-group input-group-alternative shadow border border-primary ">
                                <input class="form-control" placeholder=" dd/MM/yyyy" type="text"
                                    #fechaFinalInput="ngModel" type="text" [disabled]="true" name="fechaFinal"
                                    ngModel [(ngModel)]="toText" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--PARTICIPANTES-->
<div class="row mb-3">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row">
          <div class="col-12 col-md-4 d-flex justify-content-start">
            <h3 class="mb-0">Participantes</h3>
          </div>
          <div class="col-10 col-md-4 d-flex justify-content-center">
            <input class="form-control" placeholder="Buscar" type="text" #buscarInput="ngModel" name="Buscar" ngModel
              (input)="onSearchChange($event.target.value)">
          </div>
          <div class="col-2 col-md-4 d-flex justify-content-end">
            <button type="button" class="btn btn-light" (click)="openDialog()" > <i class="fas fa-plus"></i>  </button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col">Telefono</th>
              <th scope="col">Costo</th>
              <th scope="col">Asistio</th>
              <th scope="col">Graduado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of listaFiltradaParticipantes">
              <td class="font-weight-bold">
                  {{row.participante.nombreCompleto}}
              </td>
              <td>
                  {{row.participante.correo}}
              </td>
              <td>
                {{row.participante.numeroTelefono | mask: '00 0000 0000'}}
              </td>
              <td>
                {{row.costo | currency : 'MXN':'$ ':'1.2-2':'es-MX'}}
              </td>
              <td>
                <mat-checkbox class="example-margin" [(ngModel)]="row.asistio" (change)="asistio(row)"></mat-checkbox>
              </td>
              <td>
                <mat-checkbox class="example-margin" [(ngModel)]="row.graduado" (change)="graduado(row)"></mat-checkbox>
              </td>
              <td>
                <button title="Pagos" type="button" class="btn btn-sm btn-success" (click)="pagosParticipante(row)"><i class="fas fa-dollar-sign"></i></button>
                <button title="Ver" type="button" class="btn btn-sm btn-success" (click)="verParticipante(row)"><i class="fas fa-search"></i></button>
                <button title="Eliminar" type="button" class="btn btn-sm btn-danger"  (click)="eliminarParticipante(row)"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-8">
    <card-movimientos-evento *ngIf="showMovimientos"></card-movimientos-evento>
  </div>
</div>
