<div class="row">
  <div class="col-12">
    <div class="card w-100 h-100 bg-light shadow-lg border-2">
      <div class="card-header">
        <div class="text-center text-blue font-weight-800 text-lg mb-4">
          <h4>Nuevo Evento</h4>
        </div>
      </div>
      <div class="card-body px-lg-5 py-lg-5">
        <form role="form">
          <div class="row">
            <div class="col-12 col-md-6">

              <label class="text-primary mt-2">Descripcion</label>

              <div class="col-12">
                <mat-form-field class="w-100">
                  <mat-select [(value)]="evento.tipoEvento" name="tipoEvento">
                    <mat-option *ngFor="let row of filteredTipoEventos" [value]="row" >
                      {{row.descripcion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label class="text-primary mt-2">Generacion</label>
                <div class="input-group input-group-alternative shadow border border-primary">
                  <input class="form-control" placeholder=" Generacion" type="number" #generacionInput="ngModel"
                    name="generacion" ngModel [(ngModel)]="evento.generacion" required>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group mb-3">
                <ngb-datepicker class="shadow border border-primary" #dp (dateSelect)="onDateSelection($event)"
                  [displayMonths]="1" [dayTemplate]="t" outsideDays="hidden">
                </ngb-datepicker>

                <ng-template #t let-date let-focused="focused">
                  <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group mb-3">
                <label class="text-primary mt-2">Fecha Inicial</label>
                <div class="input-group input-group-alternative shadow border border-primary">
                  <input class="form-control" placeholder=" yyyy/MM/dd" type="text" #fechaInicialInput="ngModel" type="text" [disabled]="true"
                    name="fechaInicial" ngModel [(ngModel)]="fromText" required>
                </div>
              </div>
              <div class="form-group">
                <label class="text-primary mt-2">Generacion</label>
                <div class="input-group input-group-alternative shadow border border-primary">
                  <input class="form-control" placeholder=" yyyy/MM/dd" type="text" #fechaFinalInput="ngModel" type="text" [disabled]="true"
                    name="fechaFinal" ngModel [(ngModel)]="toText" required>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary my-4"
              [disabled]="generacionInput.invalid" (click)="agregar()">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
