<div class="row">
  <div class="col-12">
    <div class="card w-100 h-100 bg-light shadow-lg border-2">
      <div class="card-header">
        <div class="text-center text-blue font-weight-800 text-lg">
          <h4>Metodo Pago</h4>
        </div>
      </div>
      <form role="form" class="pl-4 pr-4 pt-3">
        <div class="row">
          <div class="col">
            <div class="form-group mb-3">
              <label class="text-primary mt-2">Descripcion</label>
              <div class="input-group input-group-alternative shadow border border-primary">
                <input class="form-control" placeholder=" Nombres" type="text" #descripcionInput="ngModel" type="text"
                  name="nombres" ngModel [(ngModel)]="metodoPago.descripcion" required>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button type="button" class="btn btn-primary my-4" [disabled]="descripcionInput.invalid"
            (click)="guardar()">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
