<div class="card shadow">
  <div class="card-header border-0">
    <div class="row">
      <div class="col-12 col-md-4 d-flex justify-content-start align-items-center">
        <h4 class="text-center">Eventos</h4>
      </div>
      <div class="col-12 col-md-8 d-flex justify-content-end align-items-center">
        <mat-form-field class="w-100 mr-3">
          <mat-select [(ngModel)]="tipoEvento" (ngModelChange)="onTipoEventoChange()"  name="tipoEvento" [compareWith]="compareTiposEventos">
            <mat-option [value]="{id:0, descripcion: ''}">Todos</mat-option>
            <mat-option *ngFor="let row of filteredTipoEventos" [value]="row" >
              {{row.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-group pl-1">
          <div class="input-group input-group-alternative shadow border border-primary">
            <input class="form-control" placeholder=" Generacion" type="text" #generacionInput="ngModel" mask="000"
              name="generacion" ngModel [(ngModel)]="generacion" (ngModelChange)="onTipoEventoChange()" required>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table align-items-center table-flush" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td class="font-weight-bold" mat-cell *matCellDef="let element"> {{element.tipoEvento.descripcion}} Invictus {{element.generacion}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fechas </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaInicio | date : 'yyyy/MM/dd'}} - {{element.fechaFin | date : 'yyyy/MM/dd'}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button title="Editar" type="button" class="btn btn-sm btn-success" (click)="editar(element)"><i class="fas fa-pen"></i></button>
          <button title="Participantes" type="button" class="btn btn-sm btn-success" (click)="ver(element)"><i class="fas fa-users"></i></button>
          <button title="Eliminar" type="button" class="btn btn-sm btn-danger"  (click)="eliminar(element)"><i class="fas fa-trash"></i></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="overflow-auto" [ngStyle]="{'display': listaEventosFiltered.length > 5 ? '' : 'none'}" pageSize="5"  showFirstLastButtons></mat-paginator>
  </div>
</div>
