
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3>{{mesActual.descripcion}}</h3>
            </div>
            <div class="row pl-4 pr-4">
                <div class="col no-gutters pl-0">
                    <h5>Domingo</h5>
                </div>
                <div class="col no-gutters">
                    <h5>Lunes</h5>
                </div>
                <div class="col no-gutters">
                    <h5>Martes</h5>
                </div>
                <div class="col no-gutters">
                    <h5>Miercoles</h5>
                </div>
                <div class="col no-gutters">
                    <h5>Jueves</h5>
                </div>
                <div class="col no-gutters">
                    <h5>Viernes</h5>
                </div>
                <div class="col no-gutters pr-0">
                    <h5>Sabado</h5>
                </div>
            </div>
            <div class="row pl-4 pr-4" *ngFor="let semana of diasCalendario">
                <div class="col no-gutters pl-0 pr-0" *ngFor="let dia of semana.dias">
                    <div class="card" >
                        {{dia.numero}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>