<div class="row">
  <div class="col-12">
    <div class="card w-100 h-100 bg-light shadow-lg border-2">
      <div class="card-header">
        <div class="text-center text-blue font-weight-800 text-lg mb-4">
          <h4>Participante</h4>
        </div>
      </div>
      <div class="card-body px-lg-5 py-lg-5">
        <form role="form">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group mb-3">
                <label class="text-primary mt-2">Nombres</label>
                <div class="input-group input-group-alternative shadow border border-primary">
                  <input class="form-control" placeholder=" Nombres" type="text" #nombresInput="ngModel"
                    type="text" name="nombres" ngModel [(ngModel)]="participante.nombres" required>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label class="text-primary mt-2">Apellido Paterno</label>
                <div class="input-group input-group-alternative shadow border border-primary">
                  <input class="form-control" placeholder="Apellido Paterno" type="text" #apellidoPaternoInput="ngModel"
                    name="apellido-paterno" ngModel [(ngModel)]="participante.apellidoPaterno" required>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label class="text-primary mt-2">Apellido Materno</label>
                <div class="input-group input-group-alternative shadow border border-primary">
                  <input class="form-control" placeholder="Apellido Materno" type="text" #apellidoMaternoInput="ngModel"
                    name="apellido-materno" ngModel [(ngModel)]="participante.apellidoMaterno" required>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label class="text-primary mt-2">Correo</label>
                <div class="input-group input-group-alternative shadow border border-primary">
                  <input class="form-control" placeholder="Correo" type="text" #correoInput="ngModel"
                    name="correo" ngModel [(ngModel)]="participante.correo" required>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label class="text-primary mt-2">Telefono</label>
                <div class="input-group input-group-alternative shadow border border-primary">
                  <input class="form-control" placeholder="Telefono" type="text" #telefonoInput="ngModel" mask="00 0000 0000"
                    name="telefono" ngModel [(ngModel)]="participante.numeroTelefono" required>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-12">
              <label class="text-primary mt-2">Invitado por:</label>
              <div class="ng-autocomplete">
                <ng-autocomplete
                  [(ngModel)]="nombreParticipanteEnrolador"
                  name="participanteEnrolador"
                  [data]="filteredParticipantesEnrolador"
                  [searchKeyword]="keyword"
                  [initialValue]="participanteEnrolador"
                  placeHolder="Buscar"
                  (selected)="selectEventEnrolador($event)"
                  (inputChanged)="onChangeSearchEnrolador($event)"
                  [itemTemplate]="itemTemplate"
                  [debounceTime]="600"
                  [isLoading]="isLoadingResult">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.nombreCompleto"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>

            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary my-4"
              [disabled]="nombresInput.invalid || apellidoPaternoInput.invalid || apellidoMaternoInput.invalid" (click)="guardar()">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
