<div class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <app-table-tipo-evento></app-table-tipo-evento>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <app-table-metodo-pago></app-table-metodo-pago>
  </div>
</div>
