<div class="row overflow-auto" >
  <div class="col-12">
    <div class="card w-100 h-100 bg-light shadow-lg border-2">
      <div class="card-header">
        <div class="text-center text-blue font-weight-800 text-lg">
          <h4>Pagos</h4>
        </div>
      </div>
      <div class="card-body px-lg-5 py-lg-3">
        <form role="form">



          <div class="row">
            <div class="col-12">

              <label class="text-primary mt-2">Evento</label>
              <div class="ng-autocomplete">
                <ng-autocomplete
                  [(ngModel)]="descripcionEvento"
                  name="descripcionEvento"
                  [data]="filteredEventos"
                  [initialValue]="evento"
                  [searchKeyword]="keywordEvento"
                  placeHolder="Buscar"
                  (selected)="selectEvento($event)"
                  (inputChanged)="filterEventos($event)"
                  [itemTemplate]="itemTemplateEvento"
                  [debounceTime]="600"
                  [isLoading]="isLoadingResult" >
                </ng-autocomplete>

                <ng-template #itemTemplateEvento let-item>
                  <a [innerHTML]="item.descripcion"></a>
                </ng-template>

                <ng-template #notFoundTemplateEvento let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-12">

              <label class="text-primary mt-2">Participante</label>
              <div class="ng-autocomplete">
                <ng-autocomplete
                  [(ngModel)]="nombreParticipante"
                  name="nombreParticipante"
                  [data]="filteredParticipantes"
                  [initialValue]="participante"
                  [searchKeyword]="keyword"
                  placeHolder="Buscar"
                  (selected)="selectEvent($event)"
                  (inputChanged)="onChangeSearch($event)"
                  [itemTemplate]="itemTemplate"
                  [debounceTime]="600"
                  [isLoading]="isLoadingResult" >
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.nombreCompleto"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">

            <div class="col-12">
              <div class="form-group">
                <label class="text-primary mt-2">Descripción</label>
                <div class="input-group input-group-alternative shadow border border-primary">
                  <input class="form-control" placeholder="descripcion" type="text" #descripcionInput="ngModel"
                    name="descripcion" ngModel [(ngModel)]="descripcion" required>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label class="text-primary mt-2">Monto</label>
                <div class="input-group input-group-alternative shadow border border-primary">
                  <input class="form-control" placeholder="monto" type="text" prefix="$ " mask="separator.2" #constoInput="ngModel"
                    name="monto" ngModel [(ngModel)]="monto" required>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label class="text-primary mt-2">Tipo de Movimiento</label>
                <div class="col-12">
                  <mat-form-field class="w-100">
                    <mat-select [(value)]="tipoMovimiento" name="tipoMovimiento" [compareWith]="compareIds">
                      <mat-option *ngFor="let row of listaTiposMovimientos" [value]="row" >
                        {{row.descripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label class="text-primary mt-2">Metodo de Pago</label>
                <div class="col-12">
                  <mat-form-field class="w-100">
                    <mat-select [(value)]="metodoPago" name="tipoEvento" [compareWith]="compareIds">
                      <mat-option *ngFor="let row of listaMetodosPago" [value]="row" >
                        {{row.descripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center">
            <button type="button" class="btn btn-primary my-2" (click)="guardar()">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
