<div class="row">
    <div class="col-12 col-md-12 col-lg-4 mb-0 mb-lg-5 mb-xl-0">
      <button type="button" class="form-control btn btn-light my-4" routerLink="/momentum/participantes/add">Agregar <i class="fas fa-plus"></i>  </button>
    </div>
  </div>
<div class="row mt-3">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row">
          <div class="col d-flex justify-content-start">
            <h3 class="mb-0">Participantes</h3>
          </div>
          <div class="col d-flex justify-content-end">
            <input class="form-control" placeholder="Buscar" type="text" #buscarInput="ngModel" name="Buscar" ngModel
              (input)="onSearchChange($event.target.value)">
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col">Telefono</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of listaParticipantes">
              <td class="font-weight-bold">
                  {{row.nombres}} {{row.apellidoPaterno}} {{row.apellidoMaterno}}
              </td>
              <td>
                  {{row.correo}}
              </td>
              <td>
                  {{row.numeroTelefono | mask : '00 0000 0000'}}
              </td>
              <td>
                <button title="Participantes" type="button" class="btn btn-sm btn-success" (click)="verEnrolados(row)"><i class="fas fa-users"></i></button>
                <button title="Ver" type="button" class="btn btn-sm btn-success" (click)="ver(row)"><i class="fas fa-search"></i></button>
                <button title="Eliminar" type="button" class="btn btn-sm btn-danger"  (click)="eliminar(row)"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

