<div class="card shadow">
  <div class="card-header border-0">
    <div class="row">
      <div class="col-12 col-md-4 d-flex justify-content-start align-items-center">
        <h3 class="mb-0">Movimientos</h3>
      </div>
      <div class="col-10 col-md-4 d-flex align-items-center">
        <h4 class="d-flex align-items-center">
          <label class="text-primary"
          [ngClass]="{'text-success': getTotalPagado()>0, 'text-danger': getTotalPagado()<0}">
            Total {{getTotalPagado() | currency : 'MXN':'$ ':'1.2-2':'es-MX'}} </label>
        </h4>
      </div>
      <div class="col-2 col-md-4 d-flex justify-content-end align-items-center">
        <button type="button" class="btn btn-light" (click)="openDialog()" > <i class="fas fa-plus"></i>  </button>
      </div>
    </div>
  </div>

  <div class="overflow-auto">
    <table class="table align-items-center table-flush" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Concepto </th>
        <td class="font-weight-bold" mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'yyyy-MM-dd'}} </td>
      </ng-container>

      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'text-success': element.tipoMovimiento.id==1, 'text-danger': element.tipoMovimiento.id==2}">
          {{element.cantidad | currency : 'MXN':'$ ':'1.2-2':'es-MX'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="metodoPago">
        <th mat-header-cell *matHeaderCellDef> Metodo de Pago </th>
        <td mat-cell *matCellDef="let element"> {{element.metodoPago.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button title="Ver" type="button" class="btn btn-sm btn-success" (click)="verPago(element)"><i class="fas fa-search"></i></button>
          <button title="Eliminar" type="button" class="btn btn-sm btn-danger"  (click)="eliminarPago(element)"><i class="fas fa-trash"></i></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="overflow-auto" [ngStyle]="{'display': listaMovimientos.length > 3 ? '' : 'none'}" pageSize="3"  showFirstLastButtons></mat-paginator>
  </div>
</div>
