<div class="card shadow">
  <div class="card-header border-0">
    <div class="row">
      <div class="col d-flex justify-content-start">
        <h3 class="mb-0">Proximos eventos</h3>
      </div>
      <div class="col-1 d-flex justify-content-end" *ngIf="false">
        <button title="calendario" type="button" class="form-control btn btn-calendar" routerLink="/momentum/eventos/calendar">
          <i class="fas fa-calendar"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <!-- Projects table -->
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr class="align-items-center">
          <th scope="col">Descripcion</th>
          <th scope="col">Fechas</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of listaEventos">
          <td class="font-weight-bold">
            {{row.tipoEvento.descripcion}} Invictus {{row.generacion}}
          </td>
          <td>
            {{row.fechaInicio | date : 'yyyy/MM/dd'}} - {{row.fechaFin | date : 'yyyy/MM/dd'}}
          </td>
          <td>
            <button title="Editar" type="button" class="btn btn-sm btn-success" (click)="editar(row)"><i class="fas fa-pen"></i></button>
            <button title="Participantes" type="button" class="btn btn-sm btn-success" (click)="ver(row)"><i class="fas fa-users"></i></button>
            <button title="Eliminar" type="button" class="btn btn-sm btn-danger"  (click)="eliminar(row)"><i class="fas fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
