<div class="row overflow-auto" >
  <div class="col-12">
    <div class="card w-100 h-100 bg-light shadow-lg border-2">
      <div class="card-header">
        <div class="text-center text-blue font-weight-800 text-lg">
          <h4>Pagos</h4>
        </div>
      </div>
      <div class="card-body px-lg-5 py-lg-3">
        <form role="form">

          <div class="row">
            <div class="col-12">
              <div class="form-group mb-3">
                <label class="text-primary mt-2">Participante</label>
                <div class="input-group input-group-alternative shadow border border-primary">
                  <input class="form-control" placeholder=" Nombres" type="text" #nombresInput="ngModel"
                    type="text" name="nombres" ngModel [(ngModel)]="eventoParticipante.participante.nombreCompleto" disabled="true">
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class=" mat-elevation-z8 overflow-auto" style="max-height: 210px;">
            <table class="table align-items-center table-flush" mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="noMovimiento">
                <th mat-header-cell *matHeaderCellDef> No Movimiento </th>
                <td class="font-weight-bold" mat-cell *matCellDef="let element"> {{ padWithZeros(element.id,7)  }} </td>
              </ng-container>

              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef> Concepto </th>
                <td class="font-weight-bold" mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
              </ng-container>

              <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'yyyy-MM-dd'}} </td>
              </ng-container>

              <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.cantidad | currency : 'MXN':'$ ':'1.2-2':'es-MX'}} </td>
              </ng-container>

              <ng-container matColumnDef="metodoPago">
                <th mat-header-cell *matHeaderCellDef> Metodo de Pago </th>
                <td mat-cell *matCellDef="let element"> {{element.metodoPago.descripcion}} </td>
              </ng-container>

              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                  <button title="Ver" type="button" class="btn btn-sm btn-success" (click)="verPago(element)"><i class="fas fa-search"></i></button>
                  <button title="Eliminar" type="button" class="btn btn-sm btn-danger"  (click)="eliminarPago(element)"><i class="fas fa-trash"></i></button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!--<mat-paginator class="overflow-auto" [ngStyle]="{'display': listaMovimientos.length > 3 ? '' : 'none'}" pageSize="3"  showFirstLastButtons></mat-paginator>-->
          </div>

          <div class="row">
            <div class="col" align="center">
              <label class="text-primary text-sm mt-3">Total a Pagar {{eventoParticipante.costo | currency : 'MXN':'$ ':'1.2-2':'es-MX'}} </label>
            </div>
            <div class="col" align="center">
              <label class="text-primary text-sm mt-3">Pagado {{getTotalPagado() | currency : 'MXN':'$ ':'1.2-2':'es-MX'}} </label>
            </div>
            <div class="col" align="center">
              <label class="text-primary text-sm mt-3">Restante {{eventoParticipante.costo - getTotalPagado() | currency : 'MXN':'$ ':'1.2-2':'es-MX'}} </label>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label class="text-primary mt-2">No de Movimiento</label>
                <div class="input-group">
                  <label cclass="text-primary text-sm" > {{ padWithZeros(noMovimiento,7) }} </label>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label class="text-primary mt-2">Monto</label>
                <div class="input-group input-group-alternative shadow border border-primary">
                  <input class="form-control" placeholder="monto" type="text" prefix="$ " mask="separator.2" #constoInput="ngModel"
                    name="monto" ngModel [(ngModel)]="monto" required>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label class="text-primary mt-2">Metodo de Pago</label>
                <div class="col-12">
                  <mat-form-field class="w-100">
                    <mat-select [(value)]="metodoPago" name="tipoEvento" [compareWith]="compareIds">
                      <mat-option *ngFor="let row of listaMetodosPago" [value]="row" >
                        {{row.descripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="text-center mr-1">
              <button type="button" class="btn btn-primary my-2" (click)="guardar()">Guardar</button>
            </div>
            <div class="text-center" *ngIf="mostrarBotonEliminar()">
              <button type="button" class="btn btn-secondary my-2" (click)="limpiarCampos()">Limpiar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
