.ng-autocomplete {
  width:100%;
  display: table;
  margin: 0 auto;
}



:host ::ng-deep table thead th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
:host ::ng-deep .table {
  border-collapse: collapse !important;
}

:host ::ng-deep .table td {
  background-color: #fff !important;
}

:host ::ng-deep table th {
  text-align: center;
}

:host ::ng-deep table td {
  text-align: center;
}
