<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</main>
<ngx-spinner bdColor="rgba(0,0,0,0.55)" size = "large" color = "#ffffff" type = "ball-spin-clockwise" [fullScreen] = "true"></ngx-spinner>
