<div class="bg-default w-100" style="height: 100vh;">
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-white py-4 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-8">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-dark">Bienvenido</h1>
              <div class="w-100 d-flex justify-content-center">
                <img src="./assets/img/brand/momentum-icon.png" class="img-fluid w-50 h-50">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-light shadow-lg border">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Inicia sesión con tus credenciales</small>
              </div>
              <form role="form" (submit)="login()">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder=" Email" type="email" #correoInput="ngModel" type="text" email name="correo" ngModel [(ngModel)]="correo" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder=" Password" type="password" #passwordInput="ngModel" name="password" ngModel [(ngModel)]="password" required>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4" [disabled]="passwordInput.invalid || correoInput.invalid" (click)="login()">Entrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              © 2020
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
