<div class="card shadow" style="min-height: 50vh;">
  <div class="card-header border-0">
    <div class="row">
      <div class="col-4 d-flex justify-content-start align-items-center">
        <h4 class="text-center">Movimientos</h4>
      </div>
      <div class="col-7 d-flex justify-content-center align-items-center">
        <h4 class="text-primary"
          [ngClass]="{'text-success': getTotalPagado()>0, 'text-danger': getTotalPagado()<0}">
            Total {{getTotalPagado() | currency : 'MXN':'$ ':'1.2-2':'es-MX'}} </h4>
      </div>
      <div class="col-1 d-flex justify-content-end align-items-center">
        <button type="button" class="form-control btn btn-light " (click)="agregar()">
          <i class="fas fa-plus"> </i>
        </button>
      </div>
    </div>
    <hr>
    <div class="row mb-2">
      <div class="col-12 d-flex justify-content-start align-items-center">
        <h4 class="text-center text-sm">Filtros</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-3 d-flex align-items-center">
        <div class="ng-autocomplete">
          <ng-autocomplete
            [(ngModel)]="descripcionEvento"
            name="descripcionEvento"
            [data]="filteredEventos"
            [initialValue]="evento"
            (inputCleared)="onEventoCleared()"
            [searchKeyword]="keywordEvento"
            placeHolder="Evento"
            (selected)="selectEvento($event)"
            (inputChanged)="filterEventos($event)"
            [itemTemplate]="itemTemplateEvento"
            [debounceTime]="600"
            [isLoading]="isLoadingResult" >
          </ng-autocomplete>

          <ng-template #itemTemplateEvento let-item>
            <a [innerHTML]="item.descripcion"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>

      <div class="col-4 d-flex align-items-center">
        <div class="ng-autocomplete">
          <ng-autocomplete
            [(ngModel)]="nombreParticipante"
            name="nombreParticipante"
            [data]="filteredParticipantes"
            [initialValue]="participante"
            (inputCleared)="onParticipanteCleared()"
            [searchKeyword]="keyword"
            placeHolder="Participante"
            (selected)="selectParticipante($event)"
            (inputChanged)="filterParticipantes($event)"
            [itemTemplate]="itemTemplate"
            [debounceTime]="600"
            [isLoading]="isLoadingResult" >
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.nombreCompleto"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>

      <div class="col-5 d-flex align-items-center">
        <form class="form-inline">
          <div class="form-group hidden">
            <div class="input-group">
              <input name="datepicker"
                     class="form-control"
                     ngbDatepicker
                     #datepicker="ngbDatepicker"
                     [autoClose]="'outside'"
                     (dateSelect)="onDateSelection($event)"
                     [displayMonths]="2"
                     [dayTemplate]="t"
                     outsideDays="hidden"
                     [startDate]="fromDate!">
              <ng-template #t let-date let-focused="focused">
                <span class="custom-day"
                      [class.focused]="focused"
                      [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)"
                      (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input #dpFromDate
                     class="form-control" placeholder="yyyy-mm-dd"
                     name="dpFromDate"
                     [value]="formatter.format(fromDate)"
                     (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
              <div class="input-group-append">
                <button class="btn btn-light calendar" (click)="datepicker.toggle()" type="button"></button>
              </div>
            </div>
          </div>
          <div class="form-group ml-2">
            <div class="input-group">
              <input #dpToDate
                     class="form-control" placeholder="yyyy-mm-dd"
                     name="dpToDate"
                     [value]="formatter.format(toDate)"
                     (input)="toDate = validateInput(toDate, dpToDate.value)">
              <div class="input-group-append">
                <button class="btn btn-light calendar" (click)="datepicker.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table align-items-center table-flush" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="noMovimiento">
        <th mat-header-cell *matHeaderCellDef> No Movimiento </th>
        <td class="font-weight-bold" mat-cell *matCellDef="let element"> {{ padWithZeros(element.id,7)  }} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Concepto </th>
        <td class="font-weight-bold" mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'yyyy-MM-dd'}} </td>
      </ng-container>

      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'text-success': element.tipoMovimiento.id==1, 'text-danger': element.tipoMovimiento.id==2}">
          {{element.cantidad | currency : 'MXN':'$ ':'1.2-2':'es-MX'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="metodoPago">
        <th mat-header-cell *matHeaderCellDef> Metodo de Pago </th>
        <td mat-cell *matCellDef="let element"> {{element.metodoPago.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button title="Ver" type="button" class="btn btn-sm btn-success" (click)="verPago(element)"><i class="fas fa-search"></i></button>
          <button title="Eliminar" type="button" class="btn btn-sm btn-danger"  (click)="eliminarPago(element)"><i class="fas fa-trash"></i></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="overflow-auto" [ngStyle]="{'display': listaMovimientosFiltered.length > 5 ? '' : 'none'}" pageSize="5"  showFirstLastButtons></mat-paginator>
  </div>
</div>
