<div class="row mt-3">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row">
          <div class="col d-flex justify-content-start">
            <h3 class="mb-0">Metodos de Pago</h3>
          </div>
          <div class="col-2">
            <div class="">

              <button type="button" class="form-control btn btn-light " (click)="openDialogAgregar()">
                <i class="fas fa-plus"> </i>
              </button>

            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Descripcion</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of listaMetodosPagos">
              <td class="font-weight-bold">
                {{row.descripcion}}
              </td>
              <td>
                <button title="Ver" type="button" class="btn btn-sm btn-success" (click)="ver(row)"><i class="fas fa-search"></i></button>
                <button title="Eliminar" type="button" class="btn btn-sm btn-danger"  (click)="eliminar(row)"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
