/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: #ffffff;
  height: 100%;
  font-family: sans-serif;
}

.left-menu {
  background-color: #732036;
}


.sidebar {
  color: #ffffff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

router-outlet ~ * {
  //position: absolute;
  height: 100%;
  width: 100%;
}

table th {
  text-align: center;
}

table td {
  text-align: center;
}
