.btn-calendar {
    color: #5e72e4;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    font-weight: bold;
}

.btn-calendar:hover {
    color: #f8f9fa;
    background-color: #5e72e4;
    border-color: #f8f9fa;
}
